@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

html {
    color-scheme: light dark;
    font-family: "Roboto", Helvetica, sans-serif;
    @apply bg-gray-50 dark:bg-neutral-700
}

.icons-fill {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

.material-symbols-outlined {
    user-select: none;
}

.text-subheader {
    @apply text-gray-200 text-sm font-bold uppercase;
}

tos {
    display: block;
}

tos > h1 {
    font-size: 1.75rem;
    font-weight: 700;
}

tos > h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

tos > h3 {
    font-size: 1.25rem;
    font-weight: 500;
}